@model SAM.Taskboard.Model.Project.ProjectsViewModel

<div id="projects">
    <div class="d-flex flex-wrap justify-content-around">
        @foreach (var project in Model.Projects)
        {
            <div class="card mt-4 mb-4 ml-3 mr-3 scale-effect w-300">
                <h5 class="card-header">
                    @project.ProjectName
                </h5>
                <div class="card-body">
                    @project.About
                </div>
                @Html.ActionLink("View", "ViewProject", new { projectId = project.Id }, new { @class = "border-0 btn btn-outline-primary ml-2 mr-2 mb-2" })
            </div>
        }

        <div class="card mt-4 mb-4 ml-3 mr-3 color-effect-light w-300" data-toggle="modal" data-target="#createProjectModal">
            <div class="d-flex flex-column justify-content-center align-items-center card-body text-light">
                <h5>
                    Create project
                </h5>
            </div>
        </div>
    </div>
</div>
