@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<div class="d-flex justify-content-center flex-column h-100 bg-primary m-0">
    <div class="row justify-content-center m-0">
        <h1 class="text-light" style="font-size: 300px">
            404
        </h1>
    </div>
    <div class="row justify-content-center m-0">
        <h1 class="text-light" style="font-size: 50px">
            Page not found
        </h1>
    </div>
    <div class="row justify-content-center m-0">
        <h5 class="text-light">
            @Html.ActionLink("Return", "AllProjects", "Project", null, new { @class = "border-0 btn btn-primary", style = "font-size: 50px" })
        </h5>
    </div>
</div>
