*
{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

html
{
    height: 100vh;
}

body
{
    height: 100vh;
}

.small
{
    font-size: 0.80em;
}

.blur:before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    display: block;
    background-image: url(../Content/formImage.jpg);
    background-repeat: no-repeat;
    -webkit-filter: blur(0.5px);
    -moz-filter: blur(0.5px);
    -ms-filter: blur(0.5px);
    filter: blur(0.5px);
    transform: scale(1.1);
    z-index: -1;
    left: 0;
    top: 0;
}

.input-length
{
    max-width: 13.2em;
}

.break-word
{
    word-break: break-all;
}

.blur
{
    height: 100%;
    width: 100%;
    display: block;
}

.hover-effect
{
    transition: ease-in-out 0.3s !important;
}

.hover-effect:hover
{
    transform: scale(1.05);
    transition: ease-in-out 0.3s !important;
}

.icon-plus
{
    background-image: url(../Content/plus.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    color: red;
}

.icon-plus:hover
{
    color: blue
}
