* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    transition: ease-in-out 0.2s !important;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
}

/*fix*/
.input-length {
    max-width: 13.2em;
}

.break-word {
    word-break: break-all;
}

/*universal*/
.max-width-by-viewport {
    max-width: 100vw;
}

.blur {
    height: 100%;
    width: 100%;
    display: block;
}

    .blur:before {
        content: "";
        position: fixed;
        height: 100%;
        width: 100%;
        display: block;
        background-image: url(../Content/formImage.jpg);
        background-repeat: no-repeat;
        -webkit-filter: blur(0.6px);
        -moz-filter: blur(0.6px);
        -ms-filter: blur(0.6px);
        filter: blur(0.6px);
        transform: scale(1.1);
        z-index: -9999;
        left: 0;
        top: 0;
    }

.small {
    font-size: 0.80em;
}

.opacity {
    opacity: 0.85;
}

.opacity-30 {
    opacity: 0.30;
}

.scale-effect:hover {
    transform: scale(1.05);
}

.w-300 {
    width: 300px;
}

.w-250 {
    width: 250px;
}

.w-200 {
    width: 200px;
}

.h-200 {
    height: 200px;
}

.h-150 {
    height: 150px;
}

#dropArea {
    border: #007bff dashed 1px;
    text-align: center;
    padding: 18px 0 18px 0;
}

.active-drop {
    background: #77bafa !important;
    border: solid 2px #007bff !important;
    opacity: .5;
    color: black !important;
}

.text-Low {
    color: #20c997;
}

.text-Minor {
    color: #28a745;
}

.text-Major {
    color: #fd7e14;
}

.text-Critical {
    color: #fd7e14;
}

.text-Blocker {
    color: #dc3545;
}

.text-Feature {
    color: #28a745;
}

.text-Improvement {
    color: #fd7e14;
}

.text-Bug {
    color: #dc3545;
}

.max-height {
    max-height: 48em;
}

.overflow-x {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.overflow-y {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

/*light-theme*/
.color-effect-light {
    background-color: #007bff !important;
}

    .color-effect-light h5 {
        color: #ffffff !important;
    }

    .color-effect-light:hover {
        transform: scale(1.05);
        background-color: #ffffff !important;
    }

        .color-effect-light:hover h5 {
            color: #007bff !important;
        }

.action-outline-light {
    background-color: #ffffff !important;
    border: 1px solid #007bff;
}

    .action-outline-light h5 {
        color: #007bff
    }

    .action-outline-light:hover {
        background-color: #007bff !important;
    }

        .action-outline-light:hover h5 {
            color: #ffffff;
        }

.shadow-light {
    -webkit-box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.3);
}

.background-light {
    background-color: #ffffff;
}
/*dark-theme*/
