* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

html {
    height: 100vh;
}

body {
    height: 100%;
}

/*fix*/
.input-length {
    max-width: 13.2em;
}

.break-word {
    word-break: break-all;
}

/*universal*/
.w-80 {
    width: 100px;
}

.notifcication-bubble {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: red;
    color: red;
    content: none;
}

.h-100-notimportant {
    height: 100%;
}

.attachment-image {
    height: 3em !important;
    transition: ease-in-out 0.2s !important;
}

    .attachment-image:hover {
        transform: scale(1.1);
        transition: ease-in-out 0.2s !important;
    }

.attachment-link {
    margin: 0 5px 0 5px;
    transition: ease-in-out 0.2s !important;
}

    .attachment-link:hover {
        color: #007bff !important;
        transition: ease-in-out 0.2s !important;
    }

#uploadList {
    font-size: 0.9em;
}

.nowrap {
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 20px;
}

.max-width-by-viewport {
    max-width: 100vw;
}

.blur {
    height: 100%;
    width: 100%;
    display: block;
}

    .blur:before {
        content: "";
        position: fixed;
        height: 100%;
        width: 100%;
        display: block;
        background-image: url(../Content/formImage.jpg);
        background-repeat: no-repeat;
        -webkit-filter: blur(0.6px);
        -moz-filter: blur(0.6px);
        -ms-filter: blur(0.6px);
        filter: blur(0.6px);
        transform: scale(1.1);
        z-index: -9999;
        left: 0;
        top: 0;
    }

.small {
    font-size: 0.80em;
}

.opacity {
    opacity: 0.85;
}

.opacity-30 {
    opacity: 0.30;
}

.scale-effect:hover {
    transform: scale(1.05);
}

.w-300 {
    width: 300px;
}

.w-250 {
    width: 250px;
}

.w-200 {
    width: 200px;
}

.h-200 {
    height: 200px;
}

.h-150 {
    height: 150px;
}

#dropArea {
    border: #007bff dashed 1px;
    text-align: center;
    padding: 18px 0 18px 0;
}

.active-drop {
    background: #77bafa !important;
    border: solid 2px #007bff !important;
    opacity: .5;
    color: black !important;
}

.text-Low {
    color: #20c997;
}

.text-Minor {
    color: #28a745;
}

.text-Major {
    color: #fd7e14;
}

.text-Critical {
    color: #fd7e14;
}

.text-Blocker {
    color: #dc3545;
}

.text-Feature {
    color: #28a745;
}

.text-Improvement {
    color: #fd7e14;
}

.text-Bug {
    color: #dc3545;
}

.max-height {
    max-height: 48em;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.overflow-y {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.arrow-asc {
    display: inline-block;
    background-image: url(../Content/arrow.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    transform: rotate(180deg);
    transition: ease-in-out 0.2s !important;
}

.arrow-desc {
    display: inline-block;
    background-image: url(../Content/arrow.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    transition: ease-in-out 0.2s !important;
}

/*light-theme*/
.color-effect-light {
    background-color: #007bff !important;
    transition: ease-in-out 0.2s !important;
}

    .color-effect-light h5 {
        color: #ffffff !important;
        transition: ease-in-out 0.2s !important;
    }

    .color-effect-light:hover {
        transform: scale(1.05);
        background-color: #ffffff !important;
        transition: ease-in-out 0.2s !important;
    }

        .color-effect-light:hover h5 {
            color: #007bff !important;
            transition: ease-in-out 0.2s !important;
        }

.action-outline-light {
    border: 1px solid #007bff;
    transition: ease-in-out 0.2s !important;
}

    .action-outline-light h5 {
        color: #007bff;
        transition: ease-in-out 0.2s !important;
    }

    .action-outline-light:hover {
        background-color: #007bff !important;
        transition: ease-in-out 0.2s !important;
    }

        .action-outline-light:hover h5 {
            color: #ffffff;
            transition: ease-in-out 0.2s !important;
        }

.shadow-light {
    -webkit-box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.3);
}

.background-light {
    background-color: #ffffff;
}

.bg-navbar-light {
    background-color: #007bff !important;
}

.bg-dropdown-light {

}

.scale-effect-light:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.2s !important;
}

/*dark-theme*/
.scale-effect-dark {
    transition: ease-in-out 0.2s !important;
}

.scale-effect-dark:hover {
    transform: scale(1.05);
    background-color: #121212 !important;
    border-color: #007bff !important;
    border: 1px solid;
    transition: ease-in-out 0.2s !important;
}

.color-effect-dark {
    background-color: #121212 !important;
    border-color: #007bff !important;
    transition: ease-in-out 0.2s !important;
}

    .color-effect-dark h5 {
        color: #ffffff !important;
        transition: ease-in-out 0.2s !important;
    }

    .color-effect-dark:hover {
        transform: scale(1.05);
        transition: ease-in-out 0.2s !important;
    }

.action-outline-dark {
    border: 1px solid #007bff !important;
    transition: ease-in-out 0.2s !important;
}

    .action-outline-dark h5 {
        color: #007bff;
        transition: ease-in-out 0.2s !important;
    }

    .action-outline-dark:hover {
        background-color: #007bff !important;
        transition: ease-in-out 0.2s !important;
    }

        .action-outline-dark:hover h5 {
            color: #ffffff;
            transition: ease-in-out 0.2s !important;
        }

.shadow-dark {
    -webkit-box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 7px 0px rgba(50, 50, 50, 0.3);
}

.bg-navbar-dark {
    background-color: #1f1f1f !important;
}

.bg-dropdown-dark {
    background-color: #1f1f1f !important;
    border: none;
}

.dropdown-dark {
    color: #fff !important;
}

    .dropdown-dark:hover {
        background-color: #121212 !important;
    }

.body-dark {
    background-color: #121212 !important;
}

.textOnDark-dark {
    color: #fff !important;
}

.theme-background-dark {
    background-color: #1f1f1f !important;
}

.theme-border-dark {
    border: none !important;
}

.theme-border-primary-dark {
    border-color: #007bff !important;
}
